.player {
    width: 100%;
    position: relative;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}