.blog {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 5px;
    padding: 3em;
    color: black;
    background-color: white;
}

.blog a {
    color: black;
    text-decoration: none;
}

.blog i {
    color: #ff0000;
    font-size: .8em;
}

.blog .pros, .cons {
    margin-top: 1em;
    padding: .5em;
    box-shadow: 0 0 5px var(--main);
    border: 2px solid var(--main);
    border-radius: 5px;
}

.tabinside {
    margin-left: 2em;
}

@media screen and (max-width: 800px) {
    .blog {
        width: 96vw;
        margin-left: 2vw;
    }

    .tabinside {
        margin-left: 2px;
    }
}