:root {
  --color: 0;
  --main: hsl(var(--color), 60%, 30%);
  --mainhover: hsl(var(--color), 60%, 20%);
  --maindark: hsl(var(--color), 60%, 15%);
  --bar: hsl(var(--color), 90%, 58%);
  --background: rgb(10,10,10);
}

html {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}

textarea:focus, input:focus{
  outline: none;
}

body {
  background-color: var(--background) !important;
  overflow-x: hidden;
}

/* 404 page */
.NotFound {
  color: white;
  padding-top: 20vh;
}

.NotFound h1, .NotFound h3 {
  font: 'Poppins', sans-serif;
  font-weight: 400;
}

#changeTheme {
  position: fixed;
  bottom: 1em;
  right: 4em;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  background-color: var(--main);
}

#changeLang {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  background-color: var(--main);
}