@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
}

textarea:focus, input:focus{
    outline: none;
}

body {
    background-color: rgb(39, 39, 39);
}

.topp {
    width: 100vw;
    height: 60px;
    background-color: rgba(20,20,20,.9);
    position: sticky;
    top: 0;
    z-index: 100;
}

.top {
    overflow: hidden;
    width: 90vw;
    margin-left: 5vw;
}

.active {
    color: var(--main);
}

.searchtop {
    transition-duration: .1s;
    width: 0px;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
    border: solid rgba(255,255,255,0) 1px;
    border-radius: 5px;
}

.searchtop input[type=text] {
    transition-duration: 300ms;
    width: 0px;
    float: left;
    padding: 7px;
    font-size: 1em;
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgb(200,200,200);
}

#searchingtop {
    transition-duration: 0.3s;
    opacity: 0;
}

#searchButton:focus ~ #searchingtop {
    color: white;
    width: calc(100% - 36px);
    opacity: 1;;
}

#searchingtop:focus {
    width: calc(100% - 36px);
    opacity: 1;
}

.searchtop:focus-within {
    width: 310px;
    border: solid rgba(255,255,255,.2) 1px;
}

.searchtop:focus-within #searchButton {
    fill: white;   
}

.searchtop:focus-within {
    border-color: var(--main);
    opacity: 1;
}

.searchtop button {
    float: right;
    background-color: rgba(0,0,0,0);
    transition-duration: 0.2s;
    padding: 4px 10px 4px 0px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    color: black;
}

.dropdown-content-top {
    transition-duration: .2s;
    z-index: 3;
    margin-top: 45px;
    padding: 7px 0px;
    width: 310px;
    position: absolute;
    float: none;
    display: grid;
    border-radius: 5px;
    background-color: #190707;
    opacity: 1;
}

.dropdown-content-top a {
    transition-duration: .1s;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: .8em;
}

.dropdown-content-top a:hover {
    color: var(--main);
}

#enterkeywords {
    padding: 10px 20px;
    margin-top: 7px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

.inactive-dropdown {
    opacity: 0;
    margin-top: 60px;
}

.left_list {
    transition-duration: .1s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #EDECE5;
    padding: 4px;
    margin: 10px;
    margin-top: 15px;
    float: left;
    font-size: .9em;
}

.left_list:hover {
    color: var(--main);
}

.login_button {
    transition-duration: .2s;
    font-family: "Poppins", sans-serif;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 7px 15px 4px 15px;
    margin: 10px 2px 0px 6px;
    float: right;
    font-size: 1.2em;
}

.login_button #login {
    color: rgb(150, 150, 150);
}

.top_right .profile {
    font-family: 'Poppins', sans-serif;
    border-radius: 50%;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 2px 6px 6px;
    float: right;
    font-size: .9em;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid rgba(0,0,0,0.1);
}

.profile img {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.login_button:hover {
    background-color: rgba(30,30,30,.9);
}

.login_button:hover #login {
    color: white;
}

#login {
    color: white;
}

/*
set #logo img all white because it is svg
*/

#logo img {
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 1em;
    width: 50px;
    float: left;
    transition-duration: .2s;
}

#logo img:hover {
    filter: brightness(10);

}

#searchButton {
    fill: rgb(150,150,150);
}

#searchButton:hover {
    fill: white;
}

.mobile_menu_button {
    opacity: 0;
    display: none;
    width: fit-content;
    transition-duration: .2s;
    margin-top: 1.2em;
    cursor: pointer;
    float: right;
}

.mobile_menu_button_active {
    transform: rotate(90deg);
}

.mobile_menu_button_line {
    transition-duration: .2s;
    width: 30px;
    height: 5px;
    margin-bottom: 3px;
    background-color: white;
}

.mobile_menu_content {
    margin-top: 5em;
    width: 90vw;
    transition: opacity 0.3s;
    background-color: #1F1F1F;
    z-index: 100;
    position: absolute;
    opacity: 0;
    display: none;
    border-radius: 10px;

}

.mobile_menu_items {
    transition: opacity 0.3s;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.mobile_menu_items a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1em;
    width: fit-content;
    margin: .5em;
}

.mobile_menu_items a:hover {
    color: #9b2727;
}

.mobile_menu_content_active {
    opacity: 1;
    display: block;
}

@media screen and (max-width: 1200px) {
    .searchtop {
        margin-right: 0px;
        width: auto;
    }
    .dropdown-content-top {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .searchtop {
        margin-right: 8px;
        max-width: 45vw;
    }

    .dropdown-content-top {
        max-width: 50vw;
    }

    .left_list {
        display: none;
    }

    .login_button {
        display: none;
    }

    .mobile_menu_button {
        opacity: 1;
        display: block;
    }
}

.left_list #lang {
    cursor: pointer;
}

#langm {
    cursor: pointer;
    color: white;
}