.spon_sored {
    color: white;
    padding: 1em;
    display: flex;
    position: relative;
}

.spon_sored img {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.spon_sored h3 {
    position: absolute;
    right: .5em;
    bottom: .5em;
    font-size: 1em;
    margin: 0;
    color: rgb(100,100,100);
}

@media only screen and (max-width: 1600px) {
    .spon_sored-text {
        margin-bottom: .5em;
    }
}

.spon_sored-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    user-select: none;
}

.spon_sored-text a {
    color: white;
    text-decoration: none;
}

.spon_sored-text h4 {
    margin: 0;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.spon_sored-text h5 {
    margin: 0;
    font-size: 1em;
}