.artplayer-app {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.art-notice {
    display: none !important;
}

.art-video {
    position: relative !important;
}

.art-video-player {
    width: 100% !important;
}