.trending_page {
    margin-top: 5%;
    display: grid;
}

.trending_header h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    float: left;
}

.trending_header a {
    font-size: .9em;
    transition-duration: .1s;
    font-weight: 600;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    float: right;
}

.trending_header a:hover {
    color: #ff4b2b;
}

.trending_header {
    display: inline;
}

.trending_list {
    margin-top: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.trending_card {
    display: inline-block;
    margin-right: 16px;
    position: relative
}

.trending_card img {
    transition-duration: .3s;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.trending_card img:hover {
    opacity: 1;
}

.trending_card_img {
    width: 300px;
}

.trending_card_img:hover .trending_card_play_button {
    opacity: 1;
    margin-top: calc(200px - 1.3em);
}

.trending_card_img:hover .trending_card_addtolist {
    opacity: 1;
    margin-top: calc(400px - 40px - 15px);
}

.trending_card_play_button:hover {
    color: #ff4b2b;
    border-color: #ff4b2b;
    width: 2.8em;
    height: 2.8em;
    padding-left: .88em;
    padding-top: .45em;
    margin-left: calc(150px - 1.4em);
    margin-top: calc(200px - 1.4em) !important;
    transition-duration: .1s;
}

.trending_card_addtolist:hover {
    background-color: #ff4b2b;
}

.trending_card a {
    color: white;
}

.trending_card p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em;
    line-height: 0em;
    margin-top: 1.8em;
}

.trending_card h3 {
    font-size: 1.1em;
    font-weight: 600;
    width: 300px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.trending_card_addtolist {
    z-index: 1;
    opacity: 0;
    transition-duration: .3s;
    color: white;
    background-color: rgba(255,255,255,.3);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    width: 280px;
    height: 40px;
    position: absolute;
    margin-left: calc(10px);
    margin-top: calc(400px - 40px - 5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.trending_card_addtolist h3 {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    margin-top: .6em;
}

.trending_card_play_button {
    transition-duration: .3s;
    opacity: 0;
    color: white;
    border: solid 3px white;
    border-radius: 50%;
    width: 2.6em;
    height: 2.6em;
    padding-left: .78em;
    padding-top: .37em;
    position: absolute;
    margin-left: calc(150px - 1.3em);
    margin-top: calc(200px - 2em);
}


.trending_back:hover {
    opacity: 1;
    background-color: #ff4b2b;
}

.trending_back {
    visibility: hidden;
    transition-duration: .3s;
    position: absolute;
    padding: 2em .6em 2em .6em;
    border-radius: 5px;
    z-index: 1;
    margin-top: 200px;
    margin-left: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    opacity: .4;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
}
.trending_next:hover {
    opacity: 1;
    background-color: #ff4b2b;
}

.trending_next {
    transition-duration: .3s;
    position: absolute;
    padding: 2em .6em 2em .6em;
    border-radius: 5px;
    z-index: 1;
    margin-top: 200px;
    margin-left: calc(90vw - .4em - 1.6em - .5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    opacity: .4;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
    .trending_back {
        opacity: 1;
        background-color: rgba(0, 0, 0, 1);
    }
    .trending_next {
        opacity: 1;
        background-color: rgba(0, 0, 0, 1);
    }
}