.footer h5 {
    font-size: 0.8em;
    line-height: .8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.footertext {
    color: white;
    padding: 20px 0px;
    margin-left: 5%;
    bottom: 0px;
}

a {
    text-decoration: none;
}