.footer h5 {
    font-size: 0.8em;
    line-height: .8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.footertext {
    color: black;
    padding: 20px 30px;
    bottom: 0px;
}

a {
    text-decoration: none;
}