@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0px;
}

textarea:focus, input:focus{
    outline: none;
}

body {
    background-color: rgb(39, 39, 39);
}

.top {
    overflow: hidden;
    width: 90vw;
    margin-left: 5vw;
}

.active {
    color: #9b2727;
}

.searchtop {
    width: 310px;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
    border: solid rgba(255,255,255,.2) 1px;
    border-radius: 10px;
}
.searchtop input[type=text] {
    transition-duration: 300ms;
    width: calc(100% - 36px);
    float: right;
    padding: 8px;
    font-size: 1em;
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgb(200,200,200);
}
.searchtop {
    transition-duration: .1s;
}
.searchtop:focus-within {
    border-color: #9b2727;
}

.searchtop button {
    float: right;
    background-color: rgba(0,0,0,0);
    transition-duration: 0.2s;
    padding: 6px 0px 6px 10px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    color: black;
}

.dropdown-content-top {
    transition-duration: .2s;
    z-index: 1;
    margin-top: 50px;
    padding: 7px 0px;
    width: 310px;
    position: absolute;
    float: none;
    display: grid;
    border-radius: 10px;
    background-color: #190707;
    opacity: 1;
}

.dropdown-content-top a {
    transition-duration: .1s;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: .8em;
}

.dropdown-content-top a:hover {
    color: #9b2727;
}

#enterkeywords {
    padding: 10px 20px;
    margin-top: 7px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

.inactive-dropdown {
    opacity: 0;
    margin-top: 60px;
}

.left_list {
    transition-duration: .2s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #EDECE5;
    text-decoration: none;
    padding: 4px;
    margin: 10px;
    margin-top: 25px;
    float: left;
    font-size: .9em;
}

.left_list:hover {
    color: #9b2727;
}

.donate_button {
    transition-duration: .2s;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    margin: 15px 2px 6px 6px;
    float: right;
    font-size: .9em;
    background: rgb(155,39,39);
}

.donate_button:hover {
    padding: 10px 32px 12px 32px;
    margin: 10px 0px 6px 4px;
}

#donate {
    color: white;
}

.top img {
    border-radius: 3px;
    margin-top: 15px;
    margin-right: 1em;
    width: 50px;
    float: left;
}

#searchButton {
    fill: white;
}

.mobile_menu_button {
    opacity: 0;
    display: none;
    width: fit-content;
    transition-duration: .2s;
    margin-top: 1.5em;
    cursor: pointer;
    float: right;
}

.mobile_menu_button_active {
    transform: rotate(90deg);
}

.mobile_menu_button_line {
    transition-duration: .2s;
    width: 30px;
    height: 5px;
    margin-bottom: 3px;
    background-color: white;
}

.mobile_menu_content {
    margin-top: 5em;
    width: 90vw;
    transition-duration: .1s;
    background-color: #1F1F1F;
    z-index: 100;
    position: absolute;
    opacity: 0;
    display: none;
    border-radius: 10px;
}

.mobile_menu_items {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.mobile_menu_items a {
    transition-duration: .2s;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1em;
    width: fit-content;
    margin: .5em;
}

.mobile_menu_items a:hover {
    color: #9b2727;
}

.mobile_menu_content_active {
    opacity: 1;
    display: block;
}

@media screen and (max-width: 1200px) {
    .donate_button {
        display: none;
    }

    .searchtop {
        margin-right: 0px;
        width: auto;
    }
    .dropdown-content-top {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .searchtop {
        margin-right: 1em;
        max-width: 50vw;
    }

    .dropdown-content-top {
        max-width: 50vw;
    }

    .left_list {
        display: none;
    }

    .mobile_menu_button {
        opacity: 1;
        display: block;
    }
}