.main {
    background-image: url("test-background.jpg");
}

.search {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    margin-top: 20vh;
}

textarea:focus, input:focus{
    outline: none;
}

.search input[type=text] {
    float: left;
    padding: 10px;
    padding-left: 15px;
    border-style: none;
    border-color: #9b2727;
    font-size: 17px;
    width: 30%;
    margin-left: calc(35% - 30px);
    border-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search button {
    transition-duration: 0.2s;
    float: left;
    padding: 8px 17px 12px 12px;
    background: #9b2727;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search button:hover {
    background: #974343;
}

.dropdown-content {
    width: calc(30% + 30px);
    margin-left: calc(35% - 30px);
    position: absolute;
    float: none;
    display: grid;
}

.dropdown-content a {
    background-color: rgb(255, 255, 255);
    transition-duration: .1s;
    padding: 8px;
    color: rgb(30,30,30);
    border-top: solid gray thin;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-content a:hover {
    background-color: rgb(200,200,200);
}

#logo_mid {
    border-radius: 20px;
    height: 100px;
    margin-bottom: 20px;
}


@media screen and (max-width: 800px) {
    .search input[type=text] {
        float: left;
        padding: 10px;
        border-style: none;
        font-size: 17px;
        width: 80%;
        margin-left: calc(10% - 30px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .dropdown-content {
        width: calc(80% + 20px);
        margin-left: calc(10% - 30px);
        position: absolute;
        float: none;
        display: grid;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

}


.space {
    margin-top: 8vh;
}

.info {
    margin-top: 50px;
    color: rgb(15,15,15);
}

.info h4 {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.info h2 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif bold;
    font-weight: 400;
}